.defaultSpanStyle {
    display: inline-block;
    border: 2px solid gray;
    padding: 10px;
    margin: 15px;
}
.altSpanStyle {
    border: 2px solid green;
}

.inputStyle {
    display: inline-block;
    border: 2px solid gray;
    padding: 10px;
    margin: 15px;
    height: 20px;
}
.altInputStyle {
    background-color: green;
    color: white;
    display: inline-block;
    border: 2px solid gray;
    padding: 10px;
    margin: 15px;
    height: 20px;
}

.blockStyle {
    height: 100px;
}

.saveButton {
    background-color: orange;
    border: 1px solid black;
    /*color: white;*/
    font-size: 16px;
}
.restoreButton {
    background-color: green;
    border: 1px solid black;
    color: white;
    font-size: 16px;
}

