.someClass {
    margin-left: 5px;
}

.spanError {
    color: red;
}
.error {
    margin-right: 5px;
    border: 2px solid red;
}

.inputClass {
    margin-right: 5px;
    border: 1px solid black;
}
.buttonClass {
    margin-right: 5px;
}